ipython
matplotlib
seaborn
numpy==1.21.5
scipy==1.7.3
pandas==1.3.5
tqdm==4.62.3
torchvision==0.13.1
transformers==4.20.0
datasets==2.12.0
gurobipy==9.5.1
pathos==0.3.0
pytest
pytest-sugar
pytest-xdist
# Needed for openimages
# Below will need path to CUDA Library to build
--extra-index-url https://download.pytorch.org/whl/cu113 torch==1.12.1+cu113 torchaudio==0.12.1+cu113 torchvision==0.13.1+cu113
